<div class="col-sm-12 col-lg-4 mb-3">
  <div id="post-id-<%= post.id %>">
    <div class="card">
        <%= image_tag post.post_image_url, class: "card-img-top", width: "300", height:"200" %>
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title">
            <%= link_to post.title, post_path(post) %>
          </h4>
        <% if current_user.own?(post) %>
          <div class='ms-auto'>
            <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
              <i class="bi bi-pencil-fill"></i>
            <% end %>
            <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </div>
        <% else %>
            <%= render 'like_buttons', { post: post } %>
        <% end %>
        </div>
        <ul class="list-inline">
          <li><i class="bi bi-person"></i><%= post.user.name %></li>
          <li><i class="bi bi-calendar"></i><%= l post.created_at, format: :short %></li>
        </ul>
        <p class="card-text"><%= link_to post.body, '#' %></p>
      </div>
    </div>
  </div>
</div>
