<%= form_with model: search_form, url: posts_path, method: :get, local: true, class: "row g-2 mb-3 align-items-end" do |f| %>
  <div class="col-auto">
    <%= f.select :gender, User.genders.keys.map { |k| [I18n.t("enums.user.gender.#{k}"), k] }, { include_blank: "投稿者の性別" }, class: "form-select" %>
  </div>

  <div class="col-auto">
    <%= f.select :age, User.ages.keys.map { |k| [I18n.t("enums.user.age.#{k}"), k] }, { include_blank: "投稿者の年代" }, class: "form-select" %>
  </div>

  <div class="col-auto">
    <%= f.select :category, Post.categories.keys.map { |k| [I18n.t("enums.post.category.#{k}"), k] }, { include_blank: "カテゴリ" }, class: "form-select" %>
  </div>

  <div class="col-auto">
    <%= f.select :area, Post.areas.keys.map { |k| [I18n.t("enums.post.area.#{k}"), k] }, { include_blank: "エリア" }, class: "form-select" %>
  </div>

  <div class="col-auto">
    <%= f.text_field :title, placeholder: "タイトルのキーワード", class: "form-control" %>
  </div>

  <div class="col-auto">
    <%= f.submit "検索", class: "btn btn-primary" %>
  </div>
<% end %>
